html,
body {
  background-color: aquamarine;
}

h1 {
  color: rgb(0, 217, 255);
}

textarea {
  min-width: 320px;
  background: #68faff;
  color: #1178d2;
  font-size: 14px;
  border: none;
  outline: none;
}

.add-btn > button {
  border-radius: 100%;
  outline: none;
  color: royalblue;
  width: 24px;
  height: 24px;
  font-size: 14px;
  border: none;
  background: none;
  cursor: pointer;
}

.post-container {
  margin-left: 11px;
  border-left: 2px solid rgb(0, 217, 255);
  padding-left: 20px;
  display: flex;
}

.post-container.dragging-post {
  border-left-color: rgba(0, 0, 0, 0);
  position: absolute;
  margin-left: 0;
  padding-left: 0;
}

.dragging-post textarea {
  background-color: springgreen;
}
